# local package
-e .

# Core Data Science & Data Processing
pandas
numpy
openpyxl             # Niezbędne do odczytu arkuszy MEiN (pd.read_excel)
tqdm                 # Paski postępu w procesach ETL i symulacjach
joblib               # Do ładowania Global Scalera

# Machine Learning & NLP
torch                # Backend dla Sentence Transformers
sentence-transformers # Generowanie embeddingów tytułów i zapytań

# Vector Database
chromadb             # Przechowywanie i wyszukiwanie wektorowe

# Statistics & Visualization
scipy                # Testy statystyczne (KS-test)
matplotlib           # Generowanie wykresów PDF/CDF i Zipf
powerlaw             # Estymacja parametrów rozkładu potęgowego

# Documentation
Sphinx               # Silnik dokumentacji
sphinx-rtd-theme     # Profesjonalny motyw Read the Docs
sphinxcontrib-mermaid # Renderowanie schematów Mermaid w dokumentacji

# Development & Ops
click                # Obsługa interfejsu CLI
coverage             # Testy pokrycia kodu
awscli               # Synchronizacja danych z S3
flake8               # Linting i jakość kodu
python-dotenv>=0.5.1 # Zarządzanie zmiennymi środowiskowymi